<%= labelled_form_for @project do |f| %>
  <%= hidden_field_tag 'tab', 'issue_plans' %>

  <fieldset class="box tabular" id="project_issue_plans"><legend><%= toggle_checkboxes_link('#project_issue_plans input[type=checkbox]:enabled') %><%=l(:label_issue_plan_plural)%></legend>
  <% IssuePlan.all.each do |issue_plan| %>
    <label class="floating">
      <%= check_box_tag 'project[issue_plan_ids][]', issue_plan.id, (@project.issue_plans.include? issue_plan), :id => nil %>
      <%= issue_plan.name %>
    </label>
  <% end %>
  <%= hidden_field_tag 'project[issue_plan_ids][]', '' %>
  </fieldset>


  <p><%= submit_tag l(:button_save) %></p>
<% end %>
